body{
background:linear-gradient(#fff8dc,#ffeaa7);
font-family:Arial, sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
margin:0;
padding:20px;
}

/* TARJETA */

.card{
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
width:100%;
max-width:350px;
}

/* TEXTO */

#mensaje{
font-family:'Dancing Script',cursive;
font-size:32px;
color:#e6a400;
margin-bottom:15px;
}

.texto{
font-size:16px;
color:#555;
margin-top:15px;
}

/* IMAGEN */

.ramo{
width:100%;
max-width:220px;
height:auto;
border-radius:15px;
margin-top:10px;

opacity:0;
transform:translateY(20px);
transition:all 1s ease;
}

.ramo.visible{
opacity:1;
transform:translateY(0);
}